.header {
    background-color: rebeccapurple;
    height: 55px;
    display: flex;
    align-items: center;
}
.headerSectionLeft {
    margin-left: 1rem;
}

.headerSectionRight {
    
}

.headerSectionRight > ul {
    display:flex;
    list-style: none;
    color: black;
}
